[submodule "nvim/pack/bundle/start/fzf"]
	path = nvim/pack/bundle/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "nvim/pack/bundle/start/fzf.vim"]
	path = nvim/pack/bundle/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "nvim/pack/bundle/start/incsearch.vim"]
	path = nvim/pack/bundle/start/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim.git
[submodule "nvim/pack/bundle/start/vim-dispatch"]
	path = nvim/pack/bundle/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "nvim/pack/bundle/start/vim-dispatch-neovim"]
	path = nvim/pack/bundle/start/vim-dispatch-neovim
	url = https://github.com/radenling/vim-dispatch-neovim.git
[submodule "nvim/pack/bundle/start/vim-projectionist"]
	path = nvim/pack/bundle/start/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "nvim/pack/bundle/start/vim-surround"]
	path = nvim/pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "a-shell/vim/pack/basic/start/vim-sneak"]
	path = a-shell/vim/pack/basic/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "a-shell/vim/pack/basic/start/vim-unimpaired"]
	path = a-shell/vim/pack/basic/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "a-shell/vim/pack/basic/start/vim-surround"]
	path = a-shell/vim/pack/basic/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "a-shell/vim/pack/themes/start/papercolor-theme"]
	path = a-shell/vim/pack/themes/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "haiku/vim/pack/basic/start/vim-unimpaired"]
	path = haiku/vim/pack/basic/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "haiku/vim/pack/basic/start/vim-surround"]
	path = haiku/vim/pack/basic/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "haiku/vim/pack/basic/start/vim-sneak"]
	path = haiku/vim/pack/basic/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "haiku/vim/pack/themes/start/papercolor-theme"]
	path = haiku/vim/pack/themes/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "a-shell/vim/pack/themes/start/vim-airline"]
	path = a-shell/vim/pack/themes/start/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "a-shell/vim/pack/themes/start/vim-airline-themes"]
	path = a-shell/vim/pack/themes/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "a-shell/vim/pack/coding/start/ale"]
	path = a-shell/vim/pack/coding/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "a-shell/vim/pack/themes/start/vim-polyglot"]
	path = a-shell/vim/pack/themes/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "a-shell/vim/pack/basic/start/vim-sensible"]
	path = a-shell/vim/pack/basic/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "haiku/vim/pack/basic/start/vim-sensible"]
	path = haiku/vim/pack/basic/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "a-shell/vim/pack/coding/start/SimplyFold"]
	path = a-shell/vim/pack/coding/start/SimplyFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "a-shell/vim/pack/coding/start/vim-dispatch"]
	path = a-shell/vim/pack/coding/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "a-shell/vim/pack/basic/start/supertab"]
	path = a-shell/vim/pack/basic/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "a-shell/vim/pack/basic/start/vim-commentary"]
	path = a-shell/vim/pack/basic/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "a-shell/vim/pack/basic/start/vim-flagship"]
	path = a-shell/vim/pack/basic/start/vim-flagship
	url = https://github.com/tpope/vim-flagship.git
[submodule "a-shell/vim/pack/basic/start/vim-projectionist"]
	path = a-shell/vim/pack/basic/start/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "a-shell/vim/pack/basic/start/indentLine"]
	path = a-shell/vim/pack/basic/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "a-shell/vim/pack/coding/start/ctrlp.vim"]
	path = a-shell/vim/pack/coding/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "a-shell/vim/pack/coding/start/fern.vim"]
	path = a-shell/vim/pack/coding/start/fern.vim
	url = https://github.com/lambdalisue/fern.vim.git
[submodule "a-shell/vim/pack/basic/start/targets"]
	path = a-shell/vim/pack/basic/start/targets
	url = https://github.com/wellle/targets.vim.git
[submodule "haiku/vim/pack/basic/start/indentLine"]
	path = haiku/vim/pack/basic/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "haiku/vim/pack/basic/start/supertab"]
	path = haiku/vim/pack/basic/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "haiku/vim/pack/basic/start/targets.vim"]
	path = haiku/vim/pack/basic/start/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule "haiku/vim/pack/basic/start/vim-commentary"]
	path = haiku/vim/pack/basic/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "haiku/vim/pack/basic/start/vim-flagship"]
	path = haiku/vim/pack/basic/start/vim-flagship
	url = https://github.com/tpope/vim-flagship.git
[submodule "haiku/vim/pack/basic/start/vim-projectionist"]
	path = haiku/vim/pack/basic/start/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "haiku/vim/pack/coding/start/ale"]
	path = haiku/vim/pack/coding/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "haiku/vim/pack/coding/start/ctrlp.vim"]
	path = haiku/vim/pack/coding/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "haiku/vim/pack/coding/start/fern.vim"]
	path = haiku/vim/pack/coding/start/fern.vim
	url = https://github.com/lambdalisue/fern.vim.git
[submodule "haiku/vim/pack/coding/start/SimpylFold"]
	path = haiku/vim/pack/coding/start/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "haiku/vim/pack/coding/start/vim-dispatch"]
	path = haiku/vim/pack/coding/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "haiku/vim/pack/coding/start/tagbar"]
	path = haiku/vim/pack/coding/start/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "a-shell/vim/pack/basic/start/vim-cheat40"]
	path = a-shell/vim/pack/basic/start/vim-cheat40
	url = https://github.com/lifepillar/vim-cheat40.git
[submodule "haiku/vim/pack/basic/start/vim-cheat40"]
	path = haiku/vim/pack/basic/start/vim-cheat40
	url = https://github.com/lifepillar/vim-cheat40.git
