Host ros-proto
    Hostname 192.168.23.237
    User pi
    IdentityFile ~/.ssh/ros-id_rsa

Host ros-chrome
    Hostname 192.168.23.132
    User nikolai
    IdentityFile ~/.ssh/id_rsa

Host omega2-disp
    Hostname 192.168.0.199
    User root
    IdentityFile ~/.ssh/omega2_rsa

Host rpi-bench
    Hostname 192.168.23.101
    User nikolai
    IdentityFile ~/.ssh/id_rsa

Host ros-rover
    Hostname 192.168.23.176
    User pi
    IdentityFile ~/.ssh/ros-id_rsa

Host ros-legacy
    Hostname 192.168.0.124
    User pi
    IdentityFile ~/.ssh/ros-id_rsa
